  <div id='container' class="card container-fluid h-100"  >
    <div id='eduRow' class="row no-gutters">
      <div id='picDiv' class="col-sm-6 d-flex justify-content-center">
        <img id='pic' src="assets/powell.jpg" class="row card-img justify-content-center align-self-center" alt="...">
      </div>
      <div id='bodyContainer' class="col-sm-6 d-flex">
        <div id='body' class="row card-body align-self-center justify-content-center">
          <h1 class="card-title">Education</h1>
          <p id='text' class="card-text">
            I am a Computer Science and Engingeering Major at UCLA in my second year of studies.
            I am driven by a passion for innovation and a love of learning new things.
            My coursework has included classes on data structures, algorithms, and computer architecture.
            I plan to focus my studies in the upcoming year on data science and machine learning.
          </p>
        </div>
      </div>
    </div>
  </div>
