#cont {
background: #fbb84e;
}

#connect-row {
  background: #fbb84e;
}

#list-container {
  margin-left: auto;
  margin-right: auto;
}

.list-group-item {
  background: #ffccff;
}

a {
  color: black;
}

a:hover {
  opacity: .5;
}

@media (max-width: 400px) {
  a {
    font-size: .8rem;
  }
}
