<div id='cont' class='container-fluid'>
  <div id='connect-row' class='row'>
    <div id='list-container'>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">
          <a href='https://www.linkedin.com/in/collinprince1/'>LinkedIn</a>
        </li>
        <li class="list-group-item">
          <a href='mailto:cprince99@ucla.edu'>cprince99@ucla.edu</a>

        </li>
        <li class="list-group-item">
          <a href='https://github.com/ciege99'>Github</a>
        </li>
      </ul>
    </div>
  </div>
</div>
