p {
  font-size: 8px;
}

#contain {
  height: 100vh;
  background: #fbb84e;
  min-width: 300px;
  min-height: 560px;
}

#cardHolder {
  /* padding-top: 5%; */
  height: 100vh;
  /* height: 90vh; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#pic {
  height: 50%;
  width: 98%;
  justify-content: center;
  align-self: center;
  /* margin-left: 1%; */
  /* margin-right: 1%; */
  margin-top: 1%;
}

#descriptionDiv {
  min-height: 50%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

 p {
  font-size: .7rem;
}

.customHolder {
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customCard {
  height: 80%;
  width: 80%;
  padding: 0;
  background-color: #e9ecef;
  /* flex: 0 0 0; */
}

#title {
  text-align: center;
  margin-bottom: 0;
  border: none;
  /* margin-top: 1%; */
}

#text-box {
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#textTitle {
  margin-bottom: .3rem;
}

@media(max-width: 990px) {
  p {
    font-size: 10px;
  }
  #contain {
    height: 200vh;
  }
  #cardHolder {
    height: 50%;
  }
}

@media(max-width: 408px) {
  p {
    font-size: .5rem;
  }
}

@media(max-height: 600px) {
  p {
    font-size: .5rem;
  }
}

@media(max-width: 330px) {
  p {
    font-size: 7.3px;
  }
}
