<div id='total' style='min-width: 300px'>
  <app-navbar></app-navbar>
  <div id='textCont' *ngIf='this.returnHome()' class='bg'>
    <a id='0'></a>
    <img id='randomPic' src="../assets/7.jpg"  class='col-sm-4 rounded'  />
    <div id="welcome" class='jumbotron'>
      <h1 id='name' class="center-text display-4" > Collin Prince </h1>
      <h2 id='subtitle' class='lead'> Welcome to my website! </h2>
      <hr class='my-4'>
      <!-- <h3 (click)="this.removeElement()" id='' class='lead'> (Click HERE to start bouncing around my world) </h3> -->
      <h3 id='a' class='lead'>Take a look inside my life!</h3>
      <button id='picsButton'(click)="this.homeSwitch()" type="button" class="btn btn-primary">Pictures</button>
    </div>
  </div>
  <app-slides  id='1' *ngIf='!this.returnHome()'></app-slides>
  <app-education id='2'></app-education>
  <app-page1 id='3'></app-page1>
  <app-personal id='4'></app-personal>
  <app-connect id='5'></app-connect>
</div>
