#randomPic {
  height: 50%;
  width: 50%;
  transition-duration: 1s;
  margin-bottom: 2.5%;
  padding-top: 2.5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bg {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(to bottom, #ffccff 0%, #0099ff 100%);
}

.center-text {
  vertical-align: middle;
}

#welcome {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1rem;
}

#picsButton {
  padding-bottom: .2rem;
}

@media(max-width: 500px) {
  #welcome {
    padding-top: 0;
  }
  #textCont {
    padding-top: 0;
  }
  #randomPic {
    width: 70%;
    padding-top: 3.4rem;
  }
  #name {
    font-size: 2rem;
    vertical-align: bottom;
    padding-top: 0;
  }
  #subtitle {
    top: 25em;
  }
}
